<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Welcome to Kollaboscope!</h1>
      <nav>

      </nav>
    </header>
    <div class="main">
      <div class="playlist-crud">
        <input type="text" id="playlistName" placeholder="new playlist name" />
        <input type="textarea" id="playlistDescr" placeholder="describe this playlist or leave blank" />

        <button id="createPlaylist">Create playlist</button>
        <button id="deletePlaylist">Delete playlist</button>
      </div>
      <div class="song-crud">
        <button id="createSong">Create song</button>
        <button id="deleteSong">Delete song</button>
      </div>
      <div class="playlists-container">

      </div>
      <div class="song-container">

      </div>
    </div>
    <footer>

    </footer>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="scripts/app.js" charset="utf-8"></script>
  </body>
</html>
