<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css" />
  </head>
  <body>
    <header>
      <h1>Welcome to Kollaboscope!</h1>
      <nav>

      </nav>
    </header>
    <div class="main">
      <div class="playlists-div">
        <div class="playlist-crud">
          <input type="text" id="playlistName" placeholder="new playlist name" />
          <input type="textarea" id="playlistDescr" placeholder="describe this playlist or leave blank" />

          <button id="createPlaylistBtn">Create playlist</button>
          <button id="deletePlaylistBtn">Delete playlist</button>
        </div>
        <ul class="playlists-container">
        </ul>
      </div>
      <div class="songs-div">
        <h2 class="playlist-name"></h2>
        <div class="song-crud">
          <div class="song-search">
            <input type="text" id="songName" placeholder="new song name" />
            <button id="searchSongsBtn">Search Youtube</button>
            <div class="song-search-results">

            </div>
          </div>
          <button id="createSongBtn">Create song</button>
          <button id="deleteSongBtn">Delete song</button>
        </div>
        <ul class="song-container">

        </ul>
      </div>
    </div>
    <footer>

    </footer>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="scripts/app.js" charset="utf-8"></script>
  </body>
</html>
