WORK IN PROGRESS

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


<!-- "back button" redirects to playslits -->


    <div class="songs-div">
      <h2 class="playlist-name">PLAYLIST NAME</h2>
      <div class="song-crud">
        <div class="song-search">
          <form id="searchForm">
            <input type="text" id="songName" placeholder="new song name" />
            <button type="submit">Search Youtube</button>
          </form>
          <button id="createSongBtn">Add song to playlist</button>
          <button id="deleteSongBtn">Delete song from playlist</button>
          <div class="song-search-results">

          </div>
          <div id="song-embed">

          </div>
        </div>
      </div>
      <ul class="song-container">

      </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="ejs.js"></script>
    <script src="scripts/app.js" charset="utf-8"></script>
  </body>
</html>
