<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>
  <body>
    <form id="signup-form" action="/users" method="post">
      <input type="text" name="name" value="" placeholder="USERNAME">
      <input type="text" name="email" value="" placeholder="EMAIL">
      <input type="password" name="passwordHash" value="" placeholder="PASSWORD">
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
