/*TESTING*/
.selectedSong {
  background-color: #90FFA4;
}

.selectedSearchResult {
  background-color: #90FFA4;
}

.display-element{
  margin: 10px;
}

/*MAIN*/

/** {
  border: 1px solid grey !important;
}*/


html {
  background-color: #FFBFCA;
  height:99%;
  max-height: 95vh;
}

body {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

body {
  margin: 30px;
  width: auto;
  font-family: 'Roboto', sans-serif;
}

header{
  float: right;
  display: inline-block;
  text-align: right;
}

main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 10px;
  text-shadow: 2px 2px 0px black;
  font-size: 60px;
}

button {
  text-decoration: none;
  margin: 3px;
  border-radius: 20px 30px / 10px 5%;
  display: inline;
  box-shadow: 2px 2px 1px black;
}

button:hover {
  background-color: #FF5F72;
  transition: .5s;
}

input:focus, button:focus{
  outline: none;
  background-color: #FF5F72;
}

li{
  border-radius: 10px 5% / 20px 30px;
  list-style: none;
  padding: 0 7px;
}

li:hover {
  text-shadow: 1px 1px 0px black;
  transition: .2s;
}

input {
  border-radius: 20px 30px / 10px 5%;
  background-color: #90FFA4;
  box-shadow: 2px 2px 1px black;
  padding: 0 7px;
}

p, #playlist-title {
  color: #90FFA4;
  text-shadow: 1px 0px 3px black;
  text-transform: capitalize;
}

/*Classes*/

.song-search-results, .song-container{
  opacity: 1;
  background-color: #FF5F72;
  border-radius: 10px 20px / 5px 5%;
  padding: 10px;
  margin: 3px;
}

.song-container {
  padding: 5px;
  border-radius: 20px 30px / 10px 5%;
}

.overflow-container {
  text-align: right;
  min-width: 50%;
  min-height: 300px;
  max-height: 300px;
  position:absolute;
  top: 150px;
  right:0;
}

.overflow-container-playlist {
  min-width: 50%;
  min-height: 80px;
  max-height: 80px;
  overflow-y: hidden;
}

.songs-div {
  display: flex;
  flex-direction: row;
}

.song-crud {
  display: flex;
  flex-direction: column;
  order: 2;
  max-height: 650px;
  width: 50%;
  margin-left: 0;
}

.song-container{
  margin: 5px 0;
}

.song-crud {
  float: left;
}

.song-search {
  display: flex;
  flex-direction: column;
}

.playlists-div, .playlist-crud, #youtube-search-res {
  margin-bottom: 10px;
}

.song-container,#song-embed  {
  max-height: 300px;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  order: 1;
  overflow-y: scroll;
}

/*ID's*/

#song-embed {
  margin: 0 auto;
  flex-direction: column;
  max-width: 80%;
}

#thumbnail-photo{
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  box-shadow: 4px 4px 4px #FF5E73;
}

#song-search-thumbnail{
  margin-top: 10px;
}

#show-prompt {
  display: none;
}

#playlistDescr {
  width: 67%;
}

/*Media Queries*/

@media only (min-width: 500px) and (max-width:1180){
  #thumbnail-photo{
    display: none;
  }
}
@media only screen and (max-width: 1190px){
  #thumbnail-photo{
    max-width: 75%
  }
}

@media only screen and (max-width: 1090px){
  #thumbnail-photo{
    max-width: 60%
  }
}

@media only screen and (max-width: 1000px){
  #thumbnail-photo{
    max-width: 50%
  }
}

@media only screen and (max-width: 950px){
  html{
    text-align: center;
  }
  .playlist-div {
    flex-direction: column;
  }
  .song-crud, .display-element{
    width: 100%;
    max-width: inherit;
    float: none;
    display: inline-block;
  }


  .overflow-container {
    min-width: 50%;
    min-height: 300px;
    max-height: 300px;
    position: inherit;
    text-align: center;
    /*overflow-y: hidden;*/
  }
}

@media only screen and (max-width: 595px){
  .overflow-container {
    display: none;
  }

}
